
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6b6b6b72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  h1 {
    text-align: center;
    color: #443213;
    font-weight: bold;
    font-size: 30px;
  }
  
  .book-list {
    margin-top: 20px;
  }
  
  .book-item {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
  }
  
  .book-form input,
  .book-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .book-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters label {
  font-weight: bold;
}

.filters select {
  padding: 5px;
  font-size: 16px;
}

.book-form input,
.book-form textarea {
  padding: 8px 0 0 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #969696; 
  margin-bottom: 15px;
  width: 100%; 
  transition: all 0.3s ease; 
}


.book-form input:focus,
.book-form textarea:focus {
  border-color: #82632d; 
  background-color: #f0f9f0; 
  outline: none; 
}

.book-form input,
.book-form textarea {
  color: #333; 
}

.book-form input::placeholder,
.book-form textarea::placeholder {
  color: #888; 
}


.book-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #82632d; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-form button:hover {
  background-color: #443213; 
}


.book-item {
  border: 1px solid #ddd; 
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px; 
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.book-item button {
  padding: 8px 16px;
  font-size: 14px;
  margin-right: 10px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.book-item button.edit {
  background-color: #307e33; 
  color: white;
}


.book-item button.delete {
  background-color: #FF5733;
  color: white;
}


.book-item button:hover {
  opacity: 0.8; 
}


.book-item button.edit:hover {
  background-color: #154f18; 
}


.book-item button.delete:hover {
  background-color: #ff0404; 
}


.book-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.book-item p {
  margin: 5px 0;
}
